DATABASE_URL=
JWT_SECRET=
EMAIL_USER=
EMAIL_PASS=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
STRIPE_SECRET_KEY=
VITE_STRIPE_PUBLISHABLE_KEY=
GOOGLE_CLIENT_ID=
NODE_ENV=
GOOGLE_REDIRECT_URI=
